@*@model CalendarApp.Models.Event*@

@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
    <h1>Event Calendar</h1>
    <div id="calendar"></div>
</div>*@

<div class="jumbotron">
    <h1>CALENDAR</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="calendar" width="65%"></div>
    </div>
</div>

<div id="eventForm" style="display: none;">
<div><h3>Add new event</h3></div>
<div>
    <form id="newEventForm" class="well" action="/Home/SaveEvent" method="POST">
        <input type="text" id="eventID">
        <label>Event title</label>
        <input type="text" id="newEventTitle" placeholder="Title here" name="title"><br />
        <label>Description</label>
        <input type="text" id="newEventDescription" name="description"><br />
        <label>Scheduled start date</label>
        <input type="date" id="newEventStartDate" name="startDate"><br />
        <label>Scheduled start time</label>
        <input type="time" id="newEventStartTime" name="startTime"><br />
        <label>Scheduled end date</label>
        <input type="date" id="newEventEndDate" name="endDate"><br />
        <label>Scheduled end time</label>
        <input type="time" id="newEventEndTime" name="endTime"><br />
        <input type="Submit" id="submitButton">
    </form>
</div>
</div>

<div id="changeEventForm" style="display: none;">
    <div><h3>Update this event</h3></div>
    <div>
        <form id="updateEventForm" class="well">
            <input type="text" id="oldEventID" name="eventID">
            <label>Event title</label>
            <input type="text" id="oldEventTitle" name="title"><br />
            <label>Description</label>
            <input type="text" id="oldEventDescription" name="description"><br />
            <label>Scheduled start date</label>
            <input type="date" id="oldEventStartDate" name="startDate"><br />
            <label>Scheduled start time</label>
            <input type="time" id="oldEventStartTime" name="startTime"><br />
            <label>Scheduled end date</label>
            <input type="date" id="oldEventEndDate" name="endDate"><br />
            <label>Scheduled end time</label>
            <input type="time" id="oldEventEndTime" name="endTime"><br />
            <button type="submit" formmethod="post" formaction="/Home/UpdateEvent">Update</button>
            <button type="submit" formmethod="post" formaction="/Home/DeleteEvent">Delete</button>
            <button onclick="$('#calendar').fullCalendar('refetchEvents')">Cancel</button>

        </form>
    </div>
</div>


@section scripts{

<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.css">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                
                theme: true,
                nowIndicator: true,
                defaultView: 'month',
                editable: true,
                lazyFetching: true,
                allDay: true,
                events: @Html.Raw(Model.calendarDataHolder),
                dayClick: function (date, allDay, jsEvent, view) {
                    alert('You are SO awesome, Renuka!')
                    ClearNewEventFormValues();
                    $('#eventForm').show();
                    $('#newEventTitle').focus();
                    $('#newEventTitle').val("");
                    $('#newEventStartDate').val(date);

                },
                eventClick: function (calEvent, jsEvent, view) {
                    alert('You are awesome, Renuka!');
                    $('#changeEventForm').show();
                    $('#oldEventTitle').focus();
                    $('#oldEventID').val(calEvent.eventID);
                    $('#oldEventTitle').val(calEvent.title);
                    $('#oldEventDescription').val(calEvent.description);
                    $('#oldEventStartDate').val(calEvent.startDate);
                    $('#oldEventStartTime').val(calEvent.startTime);
                    $('#oldEventEndDate').val(calEvent.endDate);
                    $('#oldEventEndTime').val(calEvent.endTime);

                    //$('#submitChangeButton').click(function(){
                    //    if ($('name=action').value='delete'){
                    //        alert('you are deleting this event');
                    //        $('#calendar').fullCalendar( 'removeEvents',calEvent.eventID);
                    //        deleteEvent(calEvent);}
                    //    else
                    //    {
                    //        if ($('name=action').value='cancel'){
                    //            $('#calendar').fullCalendar('refetchEvents');}
                    //        else
                    //        {
                    //            $('#changeEventForm').show();
                    //            $('#oldEventTitle').focus();
                    //            $('#oldEventTitle').val(calEvent.title);
                    //            $('#oldEventDescription').val(calEvent.description);
                    //            $('#oldEventStartDate').val(calEvent.startDate);
                    //            $('#oldEventStartTime').val(calEvent.startTime);
                    //            $('#oldEventEndDate').val(calEvent.endDate);
                    //            $('#oldEventEndTime').val(calEvent.endTime);
                    //            $('#calendar').fullCalendar('updateEvent', event);}

                    //    }
                    //})
                },
            });
        })

        function ClearNewEventFormValues() {
            $('eventID').val("");
            $('#eventTitle').val("");
            $('#eventDescription').val("");
            $('#eventStartDate').val("");
            $('#eventStartTime').val("");
            $('#eventEndDate').val("");
            $('#eventEndTime').val("");
        }

        $('#btnnewEventFormSave').click(function () {
            $('#eventForm').hide();
            var dataRow = {
                'title': $('#newEventTitle').val(),
                'description': $('#newEventDescription').val(),
                'start': $('#newEventStartDate').val() + " " + $('#newEventStartTime'),
                'end': $('#eventDate').val(),
            };
            alert(dataRow);
            ClearNewEventFormValues();
            $.ajax({
                type: 'POST',
                url: '/Home/SaveEvent',
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('New event saved!');
                    }
                    else {
                        alert('Error, could not save event!');
                    }
                }
            });
        });

         
    function UpdateEvent(eventID){
        alert('in the update event function now');
        $('#calendar').fullCalendar( 'clientEvents' [eventID] );
        $('#calendar').fullCalendar( 'updateEvent', calEvent );
        $.ajax({
            type: 'POST',
            url: "/Home/UpdateEvent",
            data: (calEvent),  //might be 'eventID' instead
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('Event updated!');
                }
                else {
                    alert('Error, could not update event!');
                }
            }
        })};

    </script>
}